.body {
  padding: 50px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-area {
  width: 1150px;
  height: 200px;
}

/* .keyboard {} */

.keyboard__container {
  display: flex;
  width: 1220px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.keyboard__button {
  min-width: 50px;
  padding: 10px;
  height: 50px;
  border: solid 2px #000000;
  border-radius: 5px;
  margin: 3px;
  list-style: none;
  background: #2c0be530;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 3px;
  transition: all 0.5s;
  
}

.keyboard__button:active {
  scale: 1.2;
  transition: all 0.5s;
}

.simbol-1 {
  align-self: flex-start;
  justify-self: flex-start;
  padding-right: 2px;
} 

.double-width {
  width: 100px;
}

.active {
  background: #690be5ef;
}
